* {
  box-sizing: border-box;
  overflow: hidden;
  
}
/*
Style the form and form border 
*/
form{
  width: 100%;
  padding: 20px;
}

/*
style the login button
*/
button.loginbtn {
  width: 50%;
  align-content: center;
}

/*
Style the Cancel Button
*/
button.cancelbtn{
  width: 50%;
  align-content: center;
}


/* Style the search field */
form.input input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.button {
  display:inline-block;
  min-width: 50px;
  width: 80px;
  padding:5px 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}


form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}
